@font-face {
    font-family: dana;
    font-style: normal;
    src: url('DANA-MEDIUM.woff2');
}
*{
    font-style: normal;
}
body {
    font-family: dana  !important;
    direction: rtl;
    margin: 0;
    overflow-x: hidden;
    background:#ffffffff;
}

::-webkit-scrollbar-track-piece  {
    background-color: #C2D2E4;
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #0A4C95;
}
.hi
{
    font-size: 114px;
    color: #debd89;
}
.welcometext
{
    font-size: 41px;
    color: #debd89;
    position: absolute;
    top: 32px;
    right: 208px;
    animation-name: welcome;    animation-duration: 12.5s;
    animation-iteration-count: 1;
}
@keyframes welcome {
    0%   {
        right: 188px;
        opacity: 0.3;
    }
    100% {   right: 208px;
        opacity: 1;}
}
.Among
{
    width: 106px;
    height: 15px;
    background: #fff;
    position: absolute;
    top: 69px;
    transform: rotate(-44deg);
    right: 163px;
    border-bottom: 3px solid #debd89;
}
h1 {

    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 0;
}
.mc {
    position: absolute;
    left: -81px;
    width: 191px;
    top: 174px;
    transform: rotate(35deg);
}
span {
    animation: fadeIn 2s alternate infinite;
    opacity: 0;
}
.fancy{
    color: #f4dece;
    font-size: 23px;
}
.namefa{
    font-size: 35px;
    color: #debd89;
    animation-name: welcome;    animation-duration: 7s;
    animation-iteration-count: 1;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(10px);
    }
    50%, 100% {
        opacity: 1;
        filter: blur(0px);
    }
}

.al
{
    margin: 100px 159px 76px 17px;
}
.boxd1
{
    background: #263038;
    width: 576.22px;
    height: 549.123px;
    transform: rotate(-18.18deg);
    border-radius: 69.348px;
    position: absolute;
    left: -255px;
    top: -66px;
    z-index: 2;
}
.boxd3
{
    background: #fcf8f3;
    width: 330.22px;
    height: 497.123px;
    transform: rotate(13.82deg);
    border-radius: 69.348px;
    position: absolute;
    left: -237px;
    top: 1018px;
    z-index: -2;
}
.boxd2
{
    background: #fcf8f3;
    width: 576.22px;
    height: 549.123px;
    transform: rotate(-18.18deg);
    border-radius: 69.348px;
    position: absolute;
    bottom: -245px;
    right: -268px;
}
.menu {

    font-size: 21px;
    margin: 42px 10px 10px 10px;


}
.menu ul {
    display: inline-flex;
}
.menu ul li a,.menu ul li{
    text-decoration: none;
    padding-left: 25px;
    list-style: none;
    color: #debd89;
    transition: 0.4s;
    border-bottom: 2px solid transparent;
    z-index: 4;
}
.menu ul li a:hover{

    border-color:#f7f0e4;
    transition: 0.4s;
}
.logo {
    background: url("logo.png")no-repeat;
    width: 62px;
    height: 87px;
    float: right;
    position: absolute;
    right: 134px;
    top: 155px;
    transform: rotate(18.18deg);
}
.line1{
    background: #debd89;
    width: 4px;
    height: 246px;
    position: absolute;
    right: 201px;
    top: 236px;
    transform: rotate(18.18deg);
}
.line2 {
    background: #debd89;
    width: 4px;
    height: 117px;
    position: absolute;
    bottom: -157px;
    transform: rotate(18.18deg);
    left: 273px;
}
.line3 {
    background: #debd89;
    width: 4px;
    height: 106px;
    border-radius: 40px;
}
.line3t a
{
    color:#debd89;
    text-decoration: none;

}
.line-r
{
    width: 6px;
    height: 400px;
    position: absolute;
    right: 112px;
    position: fixed;
    z-index: 4;
}

.data {
    color:#debd89;
    width: 62px;
    height: 153px;
    position: absolute;
    right: 234px;
    bottom: -80px;
    transform: rotate(18.18deg);
}
.darkmodebox {
    color: #debd89;
    width: 62px;
    height: 153px;
    position: absolute;
    right: 305px;
    bottom: -284px;
    transform: rotate(18.18deg);
}
#pdate1 {

    transform: rotate(-90deg);
    width: 91px;
    position: absolute;
    top: 50px;
    left: -15px;

}
div.darkmode {
     display: inline-block;
     font-size: 2rem;
     padding: 1rem 1rem 0.75rem 1rem;
    margin: 2px -4px;
    z-index: 5000;
 }
.dark .darkmode .light, body:not(.dark) .darkmode .dark {
    display: none;
}

nav a
{
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

nav a:before, nav a:after
{
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

nav a:nth-child(1):before
{
    background-color:#ddbb84;
}

nav a:nth-child(1):after
{
    background-color: #ddbb84;
}




nav a:hover:before, nav a:hover:after
{
    transform: scale(1);
}


#ytd_link
{
    position: absolute;
    right: 0;
    left: 0;
    bottom: -200px;
    display: block;
    width: 160px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 0 auto;
    background-color: #f7f0e4;
    border-radius: 2px;
    animation: showYTDlink 1.5s ease 3s forwards;
}

@keyframes showYTDlink
{
    0%{ bottom: -200px; }
    100%{ bottom: 20px; }
}
.fa-sun::before {
    content: "\f672" !important;
}

.fa-moon::before {
    content: "\f0eb" !important;margin: 3px 9px;
}
.light.fal.fa-sun,.dark.fal.fa-moon {
    transform: rotate(180deg);

}
#preloader{
    width: 100%;
    height: 100%;
    background: #263038;
    z-index: 1000;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0px;
}
.animation{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #debd89;
    z-index: 999;
    animation: circle 1.1s infinite;
}
@keyframes circle{
    0%{
        width: 30px;
        height:30px;

    }

    100%{
        width: 110px;
        height: 110px;
        border-radius: 50%;
        opacity: 0;
    }
}
:root {
    --size: 10px;
}

* {
    cursor: none;
}



.cursor {
    height: var(--size);
    width:  var(--size);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    user-select: none;
    pointer-events: none;
    z-index: 3;
}

.cursor.cursor-follower {
    background: #f7f0e4;
    transition: top .25s, left .25s,
    width .5s, height .5s;
    transition-timing-function: ease-out;
}

.cursor.cursor-dot {
    background: #debd89;
    transition: width .25s, height .25s;
}

.cursor-follower.active {
    --size: 80px;
}

.cursor-dot.active {
    --size: 0;
}
.boxbio {

    width: 100%;
    padding: 30px;
    background: #fff;
    margin: 30px;
    border-radius: 5px;
    border: 2px dashed #debd89;
    box-shadow: 0px -28px 14px -20px #f7f0e4;

}
.tbio {

    position: absolute;
    right: -36px;
    transform: rotate(90deg);
    color: #debd89;
    background-color: #fff;

}
.mouse {
    background:#fcf8f3;;
    position: relative;
    width: 49px;
    height: 75px;
    border-radius: 100px;
    background-size: 100% 200%;
    animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
    right: 50%;
    top: -40px;
    border: 3px solid #eedec4;
}
.mouse:before, .mouse:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.mouse:after {
    background-color: #debd89;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    animation: trackBallSlide 8s linear infinite;
}

@keyframes trackBallSlide {
    0% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
    }
    6% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
    }
    14% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
    }
    15%, 19% {
        opacity: 0;
        transform: scale(0.4) translateY(-20px);
    }
    28%, 29.99% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
    }
    30% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
    }
    36% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
    }
    44% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
    }
    45%, 49% {
        opacity: 0;
        transform: scale(0.4) translateY(-20px);
    }
    58%, 59.99% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
    }
    60% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
    }
    66% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
    }
    74% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
    }
    75%, 79% {
        opacity: 0;
        transform: scale(0.4) translateY(-20px);
    }
    88%, 100% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
    }
}
.c1
{
    text-align: center;
    background: #263038;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    margin: 10px 10px 40px 10px;
    float: right;
}
.boxp{
    width: 300px;
    background: white;
    float: left;
    display: table;
    margin: 20px 25px;
    height: 400px;
    text-align: center;
    border: 3px solid #d9b478;
    border-radius: 2px 55px 2px 2px;
}
.boxp img {

    max-width: 100%;
    height: auto;
    border-radius: 2px 55px 2px 2px;
    margin: 20px;
    box-shadow: 12px -4px 17px #d9b47847;
    max-height: 348px;

}
.wi100 {

    width: 100%;
    text-align: center;
    margin: 77px 0px;
    color: #debd89;
    font-size: 30px;

}
.wi100::after {

    content: '';
    width: 347px;
    height: 5px;
    background: #263038;
    float: left;

}
.wi100::before {
    content: '';
    width: 253px;
    height: 5px;
    background: #263038;
    float: right;
}
@media screen and (min-width: 0px) and (max-width: 1024px){
    .hidden{
        display: none;
    }
    .boxd1{
        left: -337px;
        top: -82px;
    }
    .menu ul {
        display: inherit;
    }
    .darkmodebox{
        right: 227px;
        bottom: -57px;
    }
    .boxbio{
        margin: auto;
    }
    .wi100{
        margin: 18px auto 22px;
    }
    .tbio{
        right: -14px;
    }
    .boxp {

        width: 93px;
        background: white;
        float: left;
        display: table;
        margin: 0px 3px;
        height: 113px;
        text-align: center;
        border: 3px solid #d9b478;
        border-radius: 2px 55px 2px 2px;

    }
    .c1 {

        text-align: center;
        background: #263038;
        color: #fff;
        padding: 10px;
        border-radius: 2px;
        width: 100%;
        float: left;
        margin: 14px auto 19px;

    }
}
